@use "../../styles/auth-base" as auth;

.login-page {

    /* Login Specific Styles */
    .forgot-password {
        text-align: right;
        margin-top: -0.75rem;

        a {
            font-size: 0.875rem;
            color: #7c3aed;
            text-decoration: none;
            font-weight: 600;
            transition: color 0.3s ease;

            &:hover {
                color: #6d28d9;
            }
        }
    }
}