**/.vs/
**/obj/
**/bin/
**/.git/
**/.github/
**/.vscode/
**/*.user
**/*.sln.dotSettings.user
**/*.db
**/*.db-shm
**/*.db-wal
**/appsettings.Development.json
Dockerfile
.dockerignore
.gitignore
README.md
